<img class="img-1" src="edit-image.jpeg" alt="">


<h2>Now please tell us just a little bit more about yourself!</h2><br>

    {{!-- {{#if error}}
        <p class="error-message">{{error}}</p>
    {{/if}} --}}

<form method="POST">
    <div class="input-container">
        <div>
            <label for="age">Age:</label>
        </div>
        <div>
            <input id="age" type="number" name="age" placeholder="optional">
        </div>
    </div>
    <div class="input-container">
        <div>
            <label for="city">City:</label>
        </div>
        <div>
            <input id="city" type="text" name="city" placeholder="optional">
        </div>
    </div>
    <div class="input-container">
        <div>
            <label for="home_page">Homepage:</label>
        </div>
        <div>
            <input id="home_page" type="url" name="url" placeholder="optional">
        </div>
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div>
        <button type="submit">Continue</button>
    </div>
</form>